/* P7.css */
.p7-section {
  /*background: rgb(0, 16, 33);
   background: linear-gradient(
    171deg,
    rgba(0, 16, 33, 1) 0%,
    rgba(0, 32, 49, 1) 43%,
    rgba(0, 0, 0, 0.9988446062018558) 100%
  ); */
  padding: 4rem 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.p7-section-center {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Center-align the articles vertically */
  align-items: center; /* Center-align the articles horizontally */
  justify-content: center; /* Center-align the articles vertically */
  position: relative;
}

/* Center-align the items within the article */
article {
  text-align: center;
  padding: 1rem; /* Add padding to create spacing between items */
}

.p7-person-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 4px solid #e2b42b; /* Add a purple border around the image */
}

.p7-section h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #e2b42b; /* Change text color to purple */
}

.p7-title-1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000; /* Change text color to black */
  margin: 0;
}

.p7-text {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #000000; /* Change text color to black */
}

.p7-icon {
  width: 30px;
  color: #e2b42b; /* Change icon color to purple */
}

/* Slider Animation */
.nextSlide {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease-in-out; /* Smoother transition */
  position: absolute;
  top: 0;
  left: 100%;
}

.activeSlide {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s ease-in-out; /* Smoother transition */
  position: relative;
}

.lastSlide {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.01s ease-in-out; /* Smoother transition */
  position: absolute;
  top: 0;
  left: -100%;
}

/* Slider Buttons */
.p7-prev,
.p7-next {
  background-color: #e2b42b; /* Change button background color to purple */
  color: #fff; /* Change button text color to white */
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px; /* Add border radius to buttons */
}

.p7-prev {
  left: 0;
}

.p7-next {
  right: 0;
}

.p7-prev:hover,
.p7-next:hover {
  background-color: #bf9825; /* Darken button background color on hover */
  color: #fff; /* Change button text color on hover to white */
}

/* Responsive Styles (adjust as needed) */
@media (max-width: 768px) {
  .p7-person-img {
    width: 100px;
    height: 100px;
  }

  .p7-section h4 {
    font-size: 1.2rem;
  }

  .p7-title-1 {
    font-size: 1rem;
  }

  .p7-text {
    font-size: 0.9rem;
  }

  .p7-icon {
    font-size: 1.2rem;
  }
}
