.nav-btn {
  width: 140px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.nav-btn:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.nav-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.nav-btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.nav-btn:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.2s transform linear, 0.2s height linear 0.2s;
}

.nav-btn:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.2s transform linear, 0.2s height linear 0.2s;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.navbar {
  background-color: #fff;
  height: 80px;
  width: 100%;
  z-index: 999;
  transition: 0.6s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  padding: 1.2rem;
  margin-top: 40px;
  height: 120px;
  width: 120px;
}

.logo {
  height: 100%;
  width: 100%;
}

.chat-container {
  padding: 4rem;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  height: 100%;
  width: 100%;
}
