/* DealCard.css */

.deal-card {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin: 10px;
  max-width: 400px;
  height: 220px;
}

.deal-card:hover {
  transform: scale(1.02);
  background-color: rgb(255, 217, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.deal-imgContainer {
  position: relative;
  top: -20px;
  overflow: hidden;
  width: 500px;
}

.delImg {
  width: 100%;
  height: auto;
  display: block;
}

.dealInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dealInfo p {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
  text-align: left;
}

/* Additional styles can be added for more customization */
